{{- if .Values.podDisruptionBudget.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "voe-power-outages.fullname" . }}
  labels:
    {{- include "voe-power-outages.labels" . | nindent 4 }}
spec:
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable }}
  selector:
    matchLabels:
      {{- include "voe-power-outages.selectorLabels" . | nindent 6 }}
{{- end }}
